
/*pop up form for uploading students info*/
body {
  background-color: aliceblue;
}
.info-form {
  background-color: fdfff5;
  border-radius: 10px;
  box-shadow:  3px 3px  8px rgb(114, 113, 111),
              -3px -3px  8px #ffffff;
   -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
  height: 80em;
  width: 60em;
  position: absolute;
  margin: 5em;
  margin-left: 3em;
  display: none;
  }

  h3, h4, h2, p {
    font-size: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-
  }
  nav {
    background-color: rgb(100, 227, 227);
    border-radius: 12px;
    margin: 2em;
  }

  .hidingButton, .searchStudent, .searchTeacher{
    margin-left: 2.5em;
    height: 2.5em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #FBCEB1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .pickUpchildButton, .pickUpTheChild, #studentInputButton, #teacherInputButton{
    margin-left: 2.5em;
    border-radius: 1em;
    background-color: #FBCEB1;
    height: 2.5em;
    font-size: 1em;
    font-weight: bold;
  }

p {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-
}
#firstName, #lastName, #studentsClass {
    position: absolute;
    border-radius: .45em;
    width: 20em;
    height: 2em;
    margin-left: 2em;
}
#parLastName, #parClass {
  margin-top: 2em;
}
#parentsDetails, #secondParentsDetails {
  margin-top: 2em;
}
#parentsSecondName, #parentsFirstName, #parentsContacts, #parentsemails, #parentsLocations{
  position: absolute;
  border-radius: .45em;
  margin-left: 2em;
  margin-top: -2em;
  width: 20em;
  height: 2em;
}
#SecondParentFirstName, #SecondParentSecondName, #SecondparentContacts, #SecondParentEmail, #SecondParentLocation{
position: absolute;
border-radius: .45em;
margin-left: 2em;
margin-top: -2em;
width: 20em;
height: 2em;
}
#lastNameParents, #contactFirstParent, #emailFirstParent, #ParentsLocation {
  margin-top: 2em;
}
#ParentsSecondName, #ContactsLastParent, #emailLastParent, #LastParentLocation {
  margin-top: 2em;
}
#submit-Btn{
    position: absolute;
    margin-bottom: 20em;
}
.nameDisplay {
  display: flexbox;
  margin: 2.5em;
  font-size: 2em;
  justify-content: flex;
}
.alertMessage, .alert-message {
  background: aliceblue;
  border-radius: 10px;
  box-shadow:  3px 3px  8px rgb(114, 113, 111),
              -3px -3px  8px #ffffff;
   -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
  height: 4em;
  width: 19em;
  position: absolute;
  margin-left: 25em;
  font-size: 0.5em;
  display: none;
  padding-left: 0.2em;
}
.nameDisplay {
  background: aliceblue;
  border-radius: 10px;
  box-shadow:  3px 3px  8px rgb(114, 113, 111),
              -3px -3px  8px #ffffff;
   -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
   width: 8em;
}
.PickUpfromSchool {
  margin: 1.5em;
}
.downloadButton {
  background-color: #E9965F;
  position: absolute;
  right: 2.5em;
  top: 1em;
  border-radius: 1em;
  border: #ffffff;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}
.makePayments, .dashboard {
  position: absolute;
  top: 0.5em;
  right: 10em;
  cursor: pointer;
  font-weight: bold;
}
.makePayments {
  right: 18em;
}
.mainPage{
  cursor: pointer;
}
  canvas {
    max-width: 400px;
    max-height: 200px;
  }